[Unit]
Description=IoT Controller Service
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/pi/controller/main.py
WorkingDirectory=/home/pi/controller
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target